.allContainer {
  order: 2;
  width: 60vw;
  height: 80vh;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  &__title {
    width: 100%;
    height: fit-content;
  }
  &__list {
    display: flex;
    flex-flow: column, wrap;
    width: 40px;
    height: 50px;
  }
}
