.favoritesContainer {
  order: 1;
  max-width: 40vw;
  min-height: 80vh;
  max-height: fit-content;
  background-color: lightcoral;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  &__title {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    height: fit content;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 20vw;
    &--btnReset {
      justify-content: flex-end;
      align-self: flex-end;
    }
  }
}
