.favoritesContainer {
  width: 30vw;
  height: 80vh;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  &__title {
    width: 100%;
    height: fit content;
  }
}
