@import 'core/variables';
@import 'core/mixins';
@import 'core/reset';
@import 'layout/header';
@import 'layout/form';
@import 'layout/allAnimes';
@import 'layout/favoritesAnimes';
@import 'layout/footer';

// .body {
//     display:grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: 1fr 4fr 1fr;
//       
//     
// }


.main {
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    gap: 20px;
}

.animeCard {
width: fit content;
height: fit-content;
}